.studentCard {
  display: flex;
  width: 190px;
  height: 190px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  /* ================================= */
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  /* margin-top: 20px; */
  margin-left: 9px;
  margin-right: 9%;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #6c6c6c;
}

.studentProfileWrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.studentPhoto {
  width: 115px;
  height: 115px;
}
