/* STYLES */

/* Title styling  */
#title {
  /* font-family: "Nunito"; */
  color: #6c6c6c;
  font-size: 30px;

  /* Layout Properties */
  top: 86px;
  left: 176px;
  width: 297px;
  height: 41px;
}

#export-btn {
  font-family: "Open Sans";
  font-weight: bold;
}

#speed {
  color: blue;
  font-size: 30px;
}
