.profileBody {
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainContent {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.teacherInfo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;
    margin-bottom: 200px;
    align-items: flex-start;
}
.infoType {
    color: grey;
}
.profileDisplayRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px 100px;
    max-height: 80%;
}
.profileDisplayRight h2 {
    text-transform: capitalize;
    font-size: 2vw;
    color: #707070;
    font-family: "Nunito", sans-serif;
}
.infoContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.infoContainer div {
    min-width: 18vw;
    width: auto;
    text-align: left;
    font-size: 1.3vw;
    font-weight: 600;
    color: #707070;
}
.editInput {
    margin: 0;
    float: right;
    font-size: 1.3vw;
    font-weight: 600;
    height: 1.4vw;
    width: 120%;
    color: #707070;
    border: none;
    border-bottom: #707070 2px solid;
}
.editInput:focus {
    outline: none;
    /* border: #707070 10px solid; */
}
.infoContainer div p {
    text-transform: capitalize;
    /* padding-left: 2vw; */
    padding-right: 20px;
}
.info {
    text-align: right;
    float: right;
    /* background-color: #f91c85; */
}
.profileDisplayLeft {
    width: auto;
    height: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileDisplayLeft img {
    max-width: 7vw;
    margin: 20px;
}
.profileDisplayLeft button {
    border: 3px solid #43c0f6;
    border-radius: 3px;
    background: white;
    padding: 5px 10px;
    font-size: 0.7vw;
    font-weight: 700;
    width: 90%;
    min-width: auto;
    font-family: "Nunito", sans-serif;
    margin: 10px 0;
    text-transform: uppercase;
    color: #43c0f6;
    font-weight: 700;
    /* box-shadow: 1px 3px 2px 0 #3d93b8; */
    transition-duration: 0.3s;
}
.profileDisplayLeft button:hover {
    cursor: pointer;
    box-shadow: 2px 4px 10px 0 #3d93b8;
    transition-duration: 0.3s;
}
.rightCont {
    position: relative;
}
.backButtons {
    position: absolute;
    margin-top: 50px;
    right: 0;
}
.backButtons button {
    margin: 00px 0 30px 30px;

    color: white;
    background-color: #f91c85;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.backButtons button a {
    text-decoration: none;
    color: white;
    font-size: 0.7vw;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}
.backButtons button:hover {
    cursor: pointer;
}
