.container {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.container img {
    max-height: 20vh;
}
.container h2 {
    font-family: "Nunito";
    font-size: 40px;
    color: #707070;
    margin: 0;
}
.container form {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* flex-grow: 1; */
}
.container form label{
    width: 95%;
    margin: 10px;
    
}
.container form input{
    border: 1px solid #a29f9f;
    color: black;
    border-radius: 5px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 500;
    padding: 0 10px;
    height: 30px;

   
}

.formOptions {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.formOptions p {
    font-family: "Nunito";
    font-size: 20px;
    color: #a5a5a5;
}
.formOptions p:hover {
    cursor: pointer;
}
.currentOption {
    color: #707070 !important;
    border-bottom: 5px solid #f91c85;
}
.successMessage{
    color: rgb(27, 175, 27);
}
.errorMessage{
    color: rgb(199, 28, 28);
}