.main_footer {
  background-color: #b2e4fa;
  color: #707070;
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 350px;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
}

.footerHeader {
  font-size: 14px;
  font-weight: 400;
}

.footerSelections {
  font-weight: 600;
  font-size: 12px;
}

.Company {
  margin-top: 70px;
  margin-left: 210px;
}

.Courses {
  margin-top: 70px;
}

.Support {
  margin-top: 70px;
}

.Legal {
  margin-top: 70px;
}

.LevelUp {
  margin-top: 70px;
  margin-right: 170px;
}
